
* {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;

}

body {
  background: rgb(240,240,240);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding:0 100px;
}

.game {
  text-align: center;
}

#table {

  width: 300px;
  height: 300px;
  background: white;
  position: relative;
  overflow: hidden;
}

#ball {
  width: 20px;
  height: 20px;
  background: black;
  position: absolute;
  top:0;
  left: 0;
  background-size: cover;
}

#paddle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50px;
  height: 5px;
  background:black;
}

#score-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#desktop {
  margin-top: 30px;
}


#info {
  margin-top: 100px;
}

#touch-areas {
  display: none;
}


@media (pointer: coarse) { 

  #touch-areas {
    display: grid;
    width: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  #touch-areas > div {
    background: white;
    padding: 20px;
    font-size: 30px;
  }

  #desktop {
     display: none;
  }

 }



 
